* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.logo {
    width: 10em;
    height: 9em;
    margin-top: 1.9em;
    margin-left: 6em;
    padding-bottom: 30px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;


}

header {
    display: flex;
    grid-template-columns: 40% 60%;
    width: 100%;
    background-color: cornflowerblue;;
    height: 130px;
    justify-content: space-evenly;
    align-content: space-evenly;
    align-items: center;

}

nav {
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}

button {
    background-color: lightblue;
    color: white;
    width: 115px;
    height: 25px;
    border-radius: 8px;
    font-size: 13px;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration:none;
}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

body {
    background: lightgrey;

}

.page-container {
    justify-content: center;
    align-items: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: lightgrey;

}

.footer {
    display: flex;
    flex-direction: column;
    background-color: cornflowerblue;
    width: 100%;
    height: 130px;
    color: white;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.wrap-image img {
    max-width: 100%;
    height: 100%;
    box-shadow: 0 35px 55px rgba(0.5,0.5,0.5,0.5);
}


.wrap-image {
    width: 100%;
    height: auto;
    float: left;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../Desktop/header-img.png");
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    overflow: hidden;
    margin-top: 35px;
    margin-bottom: 35px;
    box-shadow: 0 35px 55px rgba(2,2,2,2);
}



.wrap-image::before {
    content: '';
    display:block;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: #000;
    opacity: 1%;


}

.wrap-image h1 {
    width: 80%;
    display: block;
    position: absolute;
    justify-content: center;
    top: 46%;
    left: 48%;
    transform: translate(-50%, -50%);
    font-family: Impact, Haettenschwiler, "Franklin Gothic Bold", "Ariel Black", sans-serif;
    font-size: 37px;
    line-height: 60px;
    text-align: center;
    border-color: black;





}

h1 {
    height: auto;
    width: auto;
    color: black;
    border: black;
    display: flex;
    flex-direction: column;
    font-size: 35px;
    margin: 5px;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;

}



h1 p:nth-child(2) {
    font-size: 25px;
}

.featured-projects {
    display: flex;
    flex-direction: column;

}

.tictactoe {
    width: 95%;
    height: auto;
    border: 5px;
    margin-bottom: 5px;
    border-radius: 5%;


}

.media-Queries {
    width: 95%;
    height: auto;
    border: 5px;
    margin-bottom: 5px;
    border-radius: 5%;

}

.nasa-Page {
    width: 90%;
    height: auto;
    border: 5px;
    margin-bottom: 5px;
    border-radius: 5%;
}

.hair-Salon-Website {
    width: 90%;
    height: auto;
    border: 5px;
    margin-bottom: 5px;
    border-radius: 5%;
}


ul {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0;



}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.bottom-info {
    display: flex;
    width: 100%;
    background: lightgrey;
    justify-content: space-around;
    color: midnightblue;
    column-gap: 5%;


}


.bottom-info-left {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 10px;

}


.bottom-info-left-center {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 10px;

}

.bottom-info-right-center {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 10px;
}

.bottom-info-right {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 10px;
}



p {
    color: midnightblue;
    justify-content: center;
}

.Web-101 {
    width: 100%;
    border-radius: 50%;

}

.JS211 {
    width: 100%;
    border-radius: 50%;
}

.JS311 {
    width: 100%;
    border-radius: 50%;

}

.JS411 {
    width: 100%;
    border-radius: 50%;
}

h2 {
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 3px dashed lightgrey;
    background-color: cornflowerblue;
}

@media screen and (min-width: 992px) {



@media screen and (min-width: 576px) {


}}


